* {
  margin: 0;
}
h1 {
  font-family: 'Bungee Outline', cursive;
}

.bg {
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("backgroundImg.svg");
}


/* navbar items */
.item {
  font-family: sans-serif;
}

 /* Footer */
 footer {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding-top: 80px;
  height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

 }

 .projects_title {
  text-align: center;
  margin: 100px;
  padding: 60px;
 }

/* new CSS from the tutorial */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* this div wraps the whole projects part component */
.bigDiv {
  background-image:  url('Animated-Shape6.svg');
}

.cards__single {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.cards__image {
  text-align: center;
  width: 100%;
}

.cards__front img {
  margin: 0;
  height: 250px;
  background-size: cover;
}

/* hidden the back of the card */
.cards__front, .cards__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}


.cards__front {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
/* hidding the back of the card */
.cards__back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
  color: #20263f;
}

/* autyTyping id style*/
#name {
  font-family: 'Langar', cursive;
  font-size: 45px;
}
.techSection{
  background-image: url('Wave-Line.svg');
}

/* flipping the card in click , this is the css property we'll add to it */
.cards__single.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}


/* media querys */
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    position: relative;
    perspective: 1000px;
    align-items: stretch;
  }

  .cards__single {
    width: 350px;
    justify-content: space-around;
    margin: 30px;
  }
}


/* not working the diplay property */

@media(max-width: 480px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cards__single {
    display: grid;
    grid-template-columns: 1fr;
    background-color: blue;
  }
}



/* footer media querys */
@media (max-width: 768px) {
  footer > p {
    display:flex;
    flex-direction: column;
  }

   .technologies__container {
    display: flex;
    flex-direction: column;
   }

   .technologies__container > img {
      margin-left: 150px;
      padding: 20px;
   }

    #cardsSection {
      display: flex;
      flex-direction: column;
    }
}


.technologies__title {
  text-align: center;
  margin: 50px;
  padding: 30px;
  font-size: 35px;
}

/* Footer Icons */
.fa {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.fa:hover {
  font-size:47px;
}

.author,.email {
  font-size: 25px;
  font-family: 'Alfa Slab One', cursive;
}


.name, .techStack {
  padding-left: 45vh;
  font-weight: bold;
}
/* temporary css for name later needs to be added cool effect */
.name {
  margin-top: 70px;
}

.techStack {
  margin-top: 15px;
  font-size: 23px;
  font-family: 'Syne Tactile', cursive;
  color: #79d70f;
}

.cards__artist {
  margin: 15px;
}

.cards__album  {
  margin: 20px;
}

.cards__back > h2 {
  font-family: 'Alfa Slab One', cursive;
}


.order__list > li {
  font-family: 'Syne Tactile', cursive;

}

/* technologies section */
.technologies__container > img {
  width: 100px;
}



.technologies__container {
  display:  flex;
  justify-content: space-around;
  padding: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.technologies__container:hover {
 box-shadow: 0 5px 18px rgba(0,0,0,0.6);

}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;

}

.links > a {
  text-decoration: none;
  color: black;
}

.links > a:hover {
  font-size: 19px;
  color: blue;
}

.description {
  margin-top: 25px;
  text-align: center;
  font-family: 'Turret Road', cursive;
}

/* styling the navbar */
.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  height: 60px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change the color of the elements on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.contatc__title {
  text-align: center;
  margin: 50px;
}

.scroll{
  background-color: white;
 overflow: auto;
}

.cards__back > h2 {
  padding: 20px;
}


/* waves effect start */

.waveWrapper {
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: -55px;
    top: 0px;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;

}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}


/* Slide in effect css*/

.slideUp {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 5s;
  -webkit-animation-duration: 1s;
  visibility: visible;

}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}







